body{
background-color:#fffff0;


}


#contenedor{

width:500px;
height:500px;
background-color:#fffff0;

}

#lineas{

width:600px;
height:40px;
background-color:#fffff0;

}

#content{

padding:10px;
width:420px;
height:135px;
background-color:	#ADFF2F;

}

div{

width:50px;
height:25px;
float:left;
background-color:	#F0FFF0;
text-align:center;
font-weight:bold;
margin-right:10px;
margin-bottom:10px;
cursor:pointer;

}